<div id="schedule">

	<h1>Schedule</h1>
	<input type='text' ng-model='search' placeholder='Search by Medicine'>
	<div class='information'>
		Info for you:
		<a href='http://google.com/#q={{interaction}}&*'>
		{{interaction}}
		</a>
	</div>

	<div class='reminders'>
		<div class='reminder text-center' ng-repeat="reminder in allReminders.reminders.data | filter:search">
        <form>
					<div class="d-inline form-group">{{ reminder.time }} <button ng-click='editHandler()' ng-hide='flag'>Edit</button>
						<div>
	      		  <input type='text' ng-show='flag' ng-model='newtime' placeholder="New Time">
	      		  <button type='submit' ng-show='flag' ng-click='update($index, newtime)'>Update</button>
	      		</div>
	      	</div>
					<div class="d-inline form-group">{{ reminder.medname }}<button ng-click="remove($index)">x</button></div>

					<div> <label>Compare with:
					<select ng-model="selectedDrug" ng-options="medname for medname in allMeds">
					</select>
					<button ng-click="makeComparison(selectedDrug, reminder.medname)">Get Interaction</button>
					</label>
					</div>
			  </form>
			</div>
	  </div>

</div>